<div class="container-fluid" id="appear-only-ontablet">
    <div class="row set-background-app set-min-row"></div>
  </div>
  
  
  <!-- Cette partie est la partie de la Navigation en Haut de la page , la responsivité y est gérer et aussi -->
  <nav class="navbar  navbar-expand-lg set-background-app" id="set-background-app-tablet">
    <div class="container-fluid" id="custum-navbar-contain">
      <a class="navbar-brand set-default-font-color" href="#" id="tablet-img-logo">
        <img src="assets/images/logo-inv.svg" alt="">
      </a>
      <a class="navbar-brand set-default-font-color" href="#" id="normal-img-logo">
        <img src="assets/images/logo-big.svg" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" *ngIf="IsNotDeployed"
        (click)="changeButtonMenu(1)">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" id="button-when-deployed"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation" *ngIf="!IsNotDeployed" (click)="changeButtonMenu(2)">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="connected-button" (click)="redirectTo('connection')">
        Se Connecter
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-navbar-content-to-right" id="set-custum-tablet-dropdown">
          <li class="nav-item">
            <a class="nav-link  set-default-font-color" aria-current="page" href="#">
              <img src="assets/images/new_coiffeuse.svg">DEVENIR COIFFEUSE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link set-default-font-color" href="#">
              <img src="assets/images/candy-shop.svg">BOUTIQUE
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link  set-default-font-color" aria-current="page" href="#">
              <img src="assets/images/coiffures.svg">NOS COIFFURES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  set-default-font-color" aria-current="page" href="#">
              <img src="assets/images/localisation.svg">OU NOUS TROUVER ?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  set-default-font-color" aria-current="page" href="#">
              <img src="assets/images/help.svg">BESOIN D'AIDE ?</a>
          </li>
          <li class="nav-item" *ngIf="!IsNotDeployed">
            <a class="nav-link set-activate-color" aria-current="page" href="#">
              <img src="assets/images/logout.svg">SE CONNECTER </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- DESIGN DU SEPARATEUR DE PAGE EN ECRAN GRAND FORMAT  -->
  <div class="container-fluid separateur-container">
    <div class="separator-row"></div>
  </div>
  <!-- FIN DESIGN DU SEPARATEUR DE PAGE EN ECRAN GRAND FORMAT  -->
  
  
  <!-- DESIGN DU CONTENU DE DE PAGE CONNEXION  -->
  
<div class="connexion">
  <img class="img-connex" src="assets/images/form-img1.svg" alt="">
  <div class="form-connexion">
      <h4>Inscription</h4>
      <div class="img">
          <form action="" class="hero__form-reservation">
              <div class="form__group">
                  <div class="input__element">
                      <label for="city">Email</label>
                      <img src="assets/images/email.svg" alt="" srcset="">
                      <input type="email" name="" id="" placeholder="Email">
                  </div>
              </div>
              <div class="form__group">
                  <div class="input__element">
                      <label for="city">Téléphone</label>
                      <img src="assets/images/tel.svg" alt="" srcset="">
                      <input type="tel" name="" id="" placeholder="Téléphone">
                  </div>
              </div>
              <div class="form__group">
                  <div class="input__element">
                      <label for="city">Mot de passe</label>
                      <img src="assets/images/Group 530.svg" alt="" srcset="">
                      <input type="password" name="" id="" placeholder="Mot de passe">
                  </div>
              </div>
              <div class="form__group">
                  <div class="input__element">
                      <label for="city">Prénom</label>
                      <img src="assets/images/prenom.svg" alt="" srcset="">
                      <input type="text" name="" id="" placeholder="Prénom">
                  </div>
              </div>
              <div class="chec">
                  <input type="checkbox" name="" id="">
                  <h6>J'ai lu et j'accepte les <a href="http://"  class="color-b">conditions d’utilisations</a> de beauteadoom</h6>
              </div>
              <a href="" class="fb-connect color-p">S'INSCRIRE</a>
              <div class="flex ou">
                <div class="lineform"></div>
                  <p>Ou</p>
                  <div class="lineform"></div>
              </div>
              <p>S'inscrire avec</p>
              <div class="fb-connect">
                  <img src="assets/images/fb.svg"  alt="">
                  <h5>FACEBOOK</h5>
              </div>
              <p>Vous avez déja un compe compte ? <a routerLink="/connexion" class="color-b">Se connecter</a> </p>
          </form>
      </div>
  </div>
  <img class="img-connex" src="assets/images/form-img2.svg" alt="">
  </div>
  <div class="container form-img3">
      <img class="img-connex" src="assets/images/form-img3.svg" alt="">
  </div>
  <div>
      <br>
      <br>
      <br>
  </div>

  <!-- FIN DESIGN DU CONTENU DE DE PAGE CONNEXION  -->
  
  
  
  
  
  <!--  DESIGN FOOTER PREFOOT -->
  <div class="container-fluid set-background-app espace-footer">
    <div class="block-left">
      <div class="carried-image">
        <img src="assets/images/icon-begoodee-telephone.svg">
      </div>
    </div>
    <div class="block-right">
      <div class="align-to-right">
        <div class="block-down-title">
          Télécharger dès à present notre application mobile
        </div>
        <div class="image-block-down">
          <img src="assets/images/apple-store.svg">
          <img src="assets/images/google-play.svg">
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid set-background-app footer-down">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4 contener-justifiyer">
        <div class="logo-biggodee">
          <img src="assets/images/logo-big.svg">
        </div>
        <div class="discover-biggodee">
          <p><strong>Decouvrez</strong> et <strong>reservez</strong> la coiffeuse qui vous correspond, en quelques clics
            !!! </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 middle-row">
        <div class="title-block-footer-2">
          Qui Sommes nous ?
        </div>
        <div class="block-question">
          <p>FAQ</p>
          <p>CGU</p>
          <p>Guide de coiffures des BFC</p>
          <p>Mentions légales</p>
          <p>qui sommes nous?</p>
          <p>Nous Contactez </p>
          <p>Plan du site !!! </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 last-row">
        <div class="title-block-footer">
          Rejoins-nous
        </div>
        <div class="block-image">
          <img src="assets/images/facebook-logo.svg" alt="facebook-logo">
          <img src="assets/images/instagram.svg" alt="instagram-logo">
        </div>
      </div>
    </div>
    <div class="row general-background">
      <div class="copyright">&copy;Bigoodee 2021 Tous Droits Reservés</div>
    </div>
  </div>
  